# --- Java ---
*.class
*.log
*.ctxt
*.jar
*.war
*.ear

# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
out/

# --- VS Code ---
.vscode/
.history/
.settings/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Others ---
*.swp
*.tmp
*.bak
